body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/**header**/

.navbar,
.navbar-brand {
  /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000 !important;
  font-size: 1.5em;
  font-weight: 400;
  text-shadow: 1px 1px 1px #222;
}

.navbar a {
  color: #000 !important;
  font-weight: 200;
}

.navbar a:hover,
.navbar a:focus {
  text-decoration: none;
}

/**text body**/

.navbar,
.textarea {
  background-color: #8D8D8D;
}

.textarea {
  height: 1000px;
}

ul li a {
  text-align: center;
}