body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/**header**/
.navbar-header h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.navbar-header a:hover, .navbar-header a:focus{
	text-decoration: none;
}

/**text body**/
.row div{
	background-color: #8D8D8D;
	height: 1000px
}
.navbar{
	background-color: #8D8D8D;

}

ul li a{
	text-align: center;
}